@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  overflow: auto; /* Включает прокрутку */
  scrollbar-width: none; /* Скрывает полосу прокрутки в Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Скрывает полосу прокрутки в Chrome, Safari и новых версиях Edge */
}


body {
    background-color: #252526;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}


/* О нас О нас О нас О нас О нас О нас*/

main {
    background-color: #3a3a3a;
    position: relative;
    margin: 100px 100px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.6);
    border-radius: 25px;
    padding: 30px;
}

.about-us li {
    list-style-type: none;
}

.about-us h1,
.about-us h2 {
    margin-bottom: 20px;
    font-weight: 900;
}

.about-us p,
.about-us ul {
    margin-bottom: 20px;
    line-height: 1.6;
}

.about-us ul {
    padding-left: 20px;
}

.about-us li {
    margin-bottom: 10px;
}

.about-us a {
    color: yellow;
    text-decoration: none;
}

.about-us a:hover {
    text-decoration: underline;
}

/* О нас О нас О нас О нас О нас О нас*/




/* Политика конфиденциальности  Политика конфиденциальности  Политика конфиденциальности */

.privacy-policy li {
    list-style-type: none;
}

.privacy-policy h1,
.privacy-policy h2 {
    margin-bottom: 20px;
    font-weight: 900;
}

.privacy-policy p,
.privacy-policy ul {
    margin-bottom: 20px;
    line-height: 1.6;
}

.privacy-policy ul {
    padding-left: 20px;
}

.privacy-policy li {
    margin-bottom: 10px;
}

.privacy-policy a {
    color: #ffd700;
    text-decoration: none;
}

.privacy-policy a:hover {
    text-decoration: underline;
}

/* Политика конфиденциальности  Политика конфиденциальности  Политика конфиденциальности */



/* политика соглашения */

.terms-of-service h1,
.terms-of-service h2 {
    margin-bottom: 20px;
    font-weight: 900;
}

.terms-of-service p,
.terms-of-service ul {
    margin-bottom: 20px;
    line-height: 1.6;
}

.terms-of-service ul {
    padding-left: 20px;
}

.terms-of-service li {
    margin-bottom: 10px;
    list-style-type: none;
}

.terms-of-service a {
    color: #ffd700;
    text-decoration: none;
}

.terms-of-service a:hover {
    text-decoration: underline;
}

/* политика соглашения */




/* ШАПКА  ШАПКА ШАПКА ШАПКА*/

.container-header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
  }
  
  
  .header__logo {
      text-decoration: none;
      font-size: 35px;
      color: #ffffff;
      font-weight: bold;
      font-weight: 900;
      transition: all 0.5s ease-in-out;
  }
  
  .header__logo span {
    color: yellow;
  }
  
  .header__logo:hover {
    transform: scale(1.1);
  }
  
  .header__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 100px;
      height: 80px;
      background-color: transparent;
      transition: backdrop-filter 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
      }
  
.blur {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  }
  
  .right-header {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .header__search {
      border: 1px solid rgb(170, 170, 170);
      height: 35px;
      width: 300px;
      border-radius: 20px;
      outline: none;
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0.3);
      padding-left: 15px;
      transition: all 0.5s ease-in-out;
      
  }
  
  .header__search:hover {
    transform: scale(1.05);
  }
  
  input::placeholder {
    color: #ffffff;
    font-weight: 900;
  }
  
  .profile {
    width: 110px;
    height: 45px;
    border-radius: 25px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    font-size: 16px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  
  .profile:hover {
    transform: scale(1.1);
  }
  
  .Favorite{
    font-weight: bold;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
    font-weight: 900;
    font-size: 20px;
  }
  
  .Favorite:hover {
    transform: scale(0.95);
  }

  /* ШАПКА  ШАПКА ШАПКА ШАПКА */



  /* КОНЕЦ */

  footer {
    display: flex;
    height: 150px;
    background-color: black;
    position: relative;
    bottom: 0;
    align-items: center;
    padding: 0 100px;
    justify-content: space-between;
  }
  
  .left-footer h1 {
    color: #ffffff;
    font-weight: 900;
    font-size: 35px;
  }
  
  .left-footer h1 span {
    color: yellow;
  }
  
  footer ul {
    display: block;
    align-items: center;
    list-style-type: none;
  }
  
  footer ul li a{
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
  }
  
  footer ul li a:hover {
    border-bottom: 1px solid yellow;
  }
  
  footer p {
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    justify-content: center;
  }
  
  footer h1 {
    font-weight: 900;
    font-size: 30px;
    color: #ffffff;
  }
  
  footer h1 a {
    color: yellow;
  }

    /* КОНЕЦ */